<nav>
	<input type="text" name="query" class="form-control search-bar" data-ng-model="query">
</nav>

<div class='slideshow-content container' data-ng-hide='!sldshwCtrl.results.length'>
	<span class='col-xs-1 chevron'>
		<button class="btn btn-primary" data-ng-disabled='sldshwCtrl.index == 0' data-ng-click='sldshwCtrl.index = sldshwCtrl.index - 1'>
			<span class='glyphicon glyphicon-chevron-left'></span>
		</button>
	</span>
	<span class=col-xs-10>
		<img class='img-responsive' data-ng-src='{{sldshwCtrl.results[sldshwCtrl.index].images.original.url}}'>
	</span>
	<span class='col-xs-1 chevron'>
		<button class="btn btn-primary" data-ng-disabled='sldshwCtrl.index == sldshwCtrl.results.length - 1' data-ng-click='sldshwCtrl.index = sldshwCtrl.index + 1'>
			<span class='glyphicon glyphicon-chevron-right'></span>
		</button>
	</span>
</div>

<p class='no-results' data-ng-show='!sldshwCtrl.results.length && query.length'>No results for {{query}}</p>
<p class='no-results' data-ng-show='!query.length'>Search something! Try: <a data-ng-click='query ="puppy"'>puppy</span></p>